h1,
h3 {
  color: #5E454B;
}
body{
  background-color: #FDFCE5;
}
.nav a {
  color: #1572A1;
}

.nav a:hover {
  background-color: #886F6F;
  color: #FDFCE5;
  font-size: 40px;
  padding: 2px;
}

.footer li {
  padding-left: 90px;
  padding-right: 120px;
  padding-bottom: 20px;
  display: inline;
}

.footer a {
  color: #1572A1;
}

.footer a:hover {
  background-color: #886F6F;
  color: #FDFCE5;
  font-size: 20px;
  padding: 2px;
}

/*.footer ul{
width: px
}*/
hr {
  border-style: dotted none none;
  border-width: 10px;
  height: 1px;
  width: 10%;
  border-color: #F4DFBA;
}
